.navbar.navbar-light.bg-light {
    font-family: 'Bungee';
    font-size: 30px;
    background-color: lightskyblue;
}   

.alert.alert-success {
    background-color:lightslategrey;
    color: black;
    width: 800px;
    margin: auto
}

.table {
    margin: auto;
    width: 800px
}

.card {
    margin: auto;
    width: 800px;
}

/* .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px; */
}